*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    // define what one rem is // 
    font-size: 62.5%; /* (10px, based on browser default font size, 16px) => This is the root font size */
}

body {
    box-sizing: border-box; /* height and width will be define for the entire box, including padding and border */
}