*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    // define what one rem is // 
    font-size: 62.5%; /* (10px, based on browser default font size, 16px) => This is the root font size */

    // media queries : always the larger before (in desktop first approach - max width)

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px;
    }

    @include respond(tab-port) {
        font-size: 50% ; // 1rem = 8px
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px;
    }
}

body {
    box-sizing: border-box; /* height and width will be define for the entire box, including padding and border */
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }

}